
@{
    Layout = null;
}

<head>
    @{ 
        await Html.RenderPartialAsync("CssLinks.cshtml");
    }




    <style>
        .MyCommonButton {
            position: relative;
            font-family: 'Roboto', sans-serif;
            font-size: 10pt;
            white-space: nowrap;
            padding: 0.5em 2em;
            background-color: #008803;
            color: #181818;
            border: none;
            border-radius: 4px;
        }

            .MyCommonButton a {
                color: black;
                text-decoration: none;
            }



        .myDiv {
            width: 30%;
            margin: auto;
            margin-left: 0;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
        }


        .form-control {
            width : 100%;
        }
        .contact-form {
            margin-top: 30px;
        }
        .col-sm-12{
            margin-bottom:20px;
        }
        .alert {
            padding: 0px;
            margin: 0px;
            color: #a94442;
            font-weight: bold;
            border : none;
        }
        .alert-danger {
            padding: 0px;
            margin: 0px;
        }

        .contact-form .input-block {
            background-color: rgba(255, 255, 255, 0.8);
            border: solid 1px #ff512f;
            width: 100%;
            height: 60px;
            padding: 25px;
            position: relative;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

                .contact-form .input-block.focus {
                    background-color: #fff;
                    border: solid 1px #fb2900;
                }

                .contact-form .input-block.textarea {
                    height: auto;
                }

                    .contact-form .input-block.textarea .form-control {
                        height: auto;
                        resize: none;
                    }

                .contact-form .input-block label {
                    position: absolute;
                    left: 25px;
                    top: 25px;
                    display: block;
                    margin: 0;
                    font-weight: 300;
                    z-index: 1;
                    color: #333;
                    font-size: 18px;
                    line-height: 10px;
                }

                .contact-form .input-block .form-control {
                    background-color: transparent;
                    padding: 0;
                    border: none;
                    -moz-border-radius: 0;
                    -webkit-border-radius: 0;
                    border-radius: 0;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    height: auto;
                    position: relative;
                    z-index: 2;
                    font-size: 18px;
                    color: #333;
                }

                    .contact-form .input-block .form-control:focus label {
                        top: 0;
                    }

            .contact-form .square-button {
                background-color: rgba(255, 255, 255, 0.8);
                color: #fb2900;
                font-size: 26px;
                text-transform: uppercase;
                font-weight: 700;
                text-align: center;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                padding: 0 60px;
                height: 60px;
                border: none;
                width: 100%;
            }

                .contact-form .square-button:hover, .contact-form .square-button:focus {
                    background-color: white;
                }

        .contact-wrap {
            padding: 15px;
        }

    </style>


</head>
<body>
    @RenderBody();
</body>



@{
    await Html.RenderPartialAsync("JsScripts.cshtml");
}
<script>

    

        //material contact form animation
        $('.contact-form').find('.form-control').each(function () {
            var targetItem = $(this).parent();
            if ($(this).val()) {
                $(targetItem).find('label').css({
                    'top': '10px',
                    'fontSize': '14px'
                });
            }
        })
        $('.contact-form').find('.form-control').focus(function () {
            $(this).parent('.input-block').addClass('focus');
            $(this).parent().find('label').animate({
                'top': '10px',
                'fontSize': '14px'
            }, 300);
        })
        $('.contact-form').find('.form-control').blur(function () {
            if ($(this).val().length == 0) {
                $(this).parent('.input-block').removeClass('focus');
                $(this).parent().find('label').animate({
                    'top': '25px',
                    'fontSize': '18px'
                }, 300);
            }
        })
</script>

